# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg-info/
.env

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/

# macOS
.DS_Store

# Logs
*.log

# IDEs
.vscode/
.idea/
